<!DOCTYPE html>
<html>
<head>
  <title>Witwib2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
    <script src="javascript/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
        function body_onLoad() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geo_onSuccess, geo_onError);
            } else {
                geo_onError();
            }
        }

        function geo_onSuccess(pos) {
            document.getElementById("timestamp").innerHTML = new Date().toLocaleString();

            document.getElementById("accuracySpan").innerHTML = pos.coords.accuracy;
            document.getElementById("altitudeSpan").innerHTML = pos.coords.aktitude;
            document.getElementById("altitudeAccuracySpan").innerHTML = pos.coords.altitudeAccuracy;
            document.getElementById("headingSpan").innerHTML = pos.coords.heading;
            document.getElementById("latitudeSpan").innerHTML = pos.coords.latitude;
            document.getElementById("longitudeSpan").innerHTML = pos.coords.longitude;
            document.getElementById("speedSpan").innerHTML = pos.coords.speed;
        }

        function geo_onError() {
            alert("Unable to get latitude/longitude, or browser does not support geolocation API.");
        }
    </script>

</head>
<body onload="body_onLoad();">

<%= yield %>

</body>
</html>
